.container-fluid{
    background-color: rgb(231, 231, 104);
  }
  
  .container .top .mid{
    display: inline;
   
  }
  .fa {
    padding: 15px;
    margin: 10px ;
    height: 10px;
    font-size: 6px;
    width: 6px;
    text-decoration: none;
    border-radius: 5px;
    
  }
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
  /* 
    text-align: center; */
    margin-left: auto;
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
   
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
  
    background: #dd4b39;
    color: white;
  }
  
  .left{
    text-align: left;
  }
  .right{
    text-align: right;
  }
  .top {
    padding: 15px;
    margin: auto;
    
  }
  .glyphicon glyphicon-envelope{
    padding: 5px;
  }